@page "/"
@inject IForumService ForumService
@using HttpClient.ClientInterface
@using Domain
@inject NavigationManager navMgr



@if (!string.IsNullOrEmpty(msg))@* display any msg in case it has ny value in case of error*@
{
    <div>
        <span>@msg</span>
    </div>
}

@if (forums == null)
{
    <span>Loading..</span>
}
else if (!forums.Any())
{
    <span>No forums to be found</span>
}
else 
{
    <table class="table justify-content-center">
        
        <thead>
        <tr>
            <th class="text-center">No.</th>
            <th class="text-center">Title</th>
            <th class="text-center">Created On</th>
        </tr>
        </thead>
        <tbody>
        @foreach (Forum forum in forums)
        {
            <tr>
                <td class="text-center">@forum.Id</td>
                <td class="text-center" @onclick="() => OpenDetail(forum.Id)">@forum.Title</td>
                <td class="text-center">@forum.CreatedOn</td>
            </tr>
        }

        </tbody>
    </table>
}


@code {

    [Parameter]
    public int Id { get; set; }

    private IEnumerable<Forum>? forums;
    private Forum forum;
    private string msg = "";
    private string title = "";
    private string body = "";


    protected override async Task OnInitializedAsync()
    {
        msg = "";
        try
        {
            forums = await ForumService.GetForums();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }

    private async void OpenDetail(int id)
    {
        await ForumService.GetForumById(id);
        navMgr.NavigateTo($"/ViewAll/{id}");
    }


}
