@page "/ViewAll/{id:int}"
@inject IForumService ForumService
@using HttpClient.ClientInterface
@using Domain


@inject NavigationManager navMgr



@if (!string.IsNullOrEmpty(msg))@* display any msg in case it has ny value in case of error*@
{
    <div>
        <span>@msg</span>
    </div>
}

@if (forums == null)
{
    <span>Loading..</span>
}
else
{
    <div class="container-fluid my-3">
        <div class="card">
            <div class="card-header h2" style="background-color: #2002">@forums.Title</div>
            <div class="card-body">
                @forums.Description
            </div>
            <div class="mx-3 text-muted">
                @forums.CreatedOn
            </div>
            
        
    </div>
    </div>
    

@code {

    [Parameter]
    public int Id { get; set; }

    private Forum forums;
    private string msg = "";
    private string title = "";
    private string body = "";
    private int labelForLike;

    // private int id;
    protected override async Task OnInitializedAsync()
    {
        msg = "";
        try
        {
            forums = await ForumService.GetForumById(Id);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }




}

}
