@page "/ViewAll/{id:int}"
@inject IForumService ForumService
@using HttpClient.ClientInterface
@using Domain
@inject NavigationManager navMgr



@if (!string.IsNullOrEmpty(msg))@* display any msg in case it has ny value in case of error*@
{
    <div>
        <span>@msg</span>
    </div>
}

@if (forums == null)
{
    <span>Loading..</span>
}
@* else if (!forums.Any()) *@
@* { *@
@*     <span>No forums to be found</span> *@
@* } *@
else
{
    <div class="container">
        <div class="users-container">
            <div class="col user-card w-100 h-50 ">
                <label class="row border-bottom px-4 border-dark  rounded-0  mx-1 my-3 h2 ">@forums.Title</label>
                <label class="row mx-4 my-3 ">@forums.Description</label>
                <label class="row mx-4 my-3 ">@forums.CreatedOn</label>
            </div>
        </div>
    </div>
    

@code {
    [Parameter]
    public int Id { get; set; }
    private Forum forums;
    private string msg = "";
    private string title = "";
    private string body = "";

    // private int id;
    protected override async Task OnInitializedAsync()
    {
        msg = "";
        try
        {
             forums = await ForumService.GetForumById(Id);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }
    
    

}

}
}