@page "/LoginButtons"
@using HttpClient.ClientInterface
@inject NavigationManager navMgr
@inject IUserService UserService;

<AuthorizeView>
    <Authorized>
        <img class="icon" src="images/Logout.png" @onclick="Logout"/>
    </Authorized>
    <NotAuthorized>
        @* <button type="submit" @onclick="Login" class="row btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm w-25">Login</button> *@
         <img class="icon" src="images/Login.png" @onclick="Login"/> 
    </NotAuthorized>
</AuthorizeView>
    
@code {
    private void Login()
    {
        navMgr.NavigateTo("/Login");
    }

    private async Task Logout()
    {
        await UserService.LogoutAsync();
        navMgr.NavigateTo("/");
    }
}