@inherits LayoutComponentBase


<div class="page">
    <div class="sidebar">
        <NavMenu/>
    
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <h4 class="my-5 justify-content-center"> Welcome to the forum! @context.User.Identity.Name </h4>
                    
                </Authorized>
            </AuthorizeView>
            <LoginButtons/>
        </div>

        <article class="page">
            @Body
        </article>
    </main>
</div>
